<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title></title>
<style type="text/css">
.contenedor3 {
	display: flex;
	align-items: center;
}
</style>
</head>

<body style="background-color:black">
<div class="container" style="background-color:black; color:white">
		<h1 th:text="${titulo}"></h1>
		<br>
	</div>
	<br>
	<div>
		<div class="album py-5 black" style="background-color:black">
			<div class="container" >
				<div class="row">
					<div th:each="b:${superheroes}">
						<div class="card" style="width: 15rem;">
							<img th:src="${b.thumbnail.path} +'.'+ ${b.thumbnail.extension}" class="card-img-top" style="height: 15rem;" />
							<div class="card-body">
								<h7 th:text="${b.name}" class="card-title"></h7><br><br>
								<a th:href="@{http://www.marvel.com}" class="btn btn-primary">More
									Info...</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>